<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width"/>
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <!-- https://developers.google.com/web/fundamentals/native-hardware/fullscreen/ -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
<body>
<div>Hello world</div>
</body>
</html>
<!-- <%= htmlWebpackPlugin.options.comment %> -->
